.banner {
	width: 98%;/* why? */
	margin: 5px 0 0 0;
	padding: 5px;
	border-bottom: 1px solid rgba(100, 100, 100, 0.2);
	padding: 5px 20px;
}

/* TODO: move> */
.content-container {
	display: flex;
	flex-direction: row;
}

.wiki-panel {
	padding: 10px;
}

.map-panel {

}

@media (max-width: 800px) {

	.content-container {

		flex-direction: column;
		width: 100%;

	}
	
	.wiki-panel {
		height: 50vh;
		overflow-y: scroll;
		width: 100%;
		border-bottom: 1px solid rgba(0, 0, 0, 0.7);
	}
	
	.map-panel {
		width: 100%;
	}
}



.ffl-logo {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-left: 2px;
	text-indent: -9999px;
	font-size: 35px;
	background: url(/img/ff-logo.svg) 0 0 no-repeat
}

.title {
	display: inline-block;
	font-family: robotomono, 'Courier New';
	padding: 0;
	margin: 0 25px;
	border: none;
	color: #0A21EC;
	font-size: 150%;
}

.subtitle {
	font-size: 14px;
	line-height: 1.8em;
	display: inline-block;
	border: 0px;
	padding: 0;
	margin: 0;
	color: rgba(0, 0, 0, 0.75);
}

.builtby {
	float: right;
	margin: 10px 25px;
	display: inline-block;
	font-size: 12px;
	
}

a {
	color: #0645ad;
}

.builtby span {
	margin-left: 30px;
}
